/* Estilo global */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

/* Barra de navegación */
.navbar {
  z-index: 1000;
  background-color: rgba(0, 0, 0, 1); /* Fondo semitransparente */
  padding: 15px 20px;  display: flex;
  justify-content: space-between; /* Espaciado entre izquierda y derecha */
  align-items: center; /* Centra verticalmente los elementos */
}

.nav-left {
  display: flex; /* Alinea horizontalmente los enlaces */
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-left li {
  margin: 0 15px;
}

.nav-left li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-left li a:hover {
  font-weight: bold; /* Pone el texto en negrita */
}

/* Menú hamburguesa */
.menu-toggle {
  display: none; /* Ocultamos el menú hamburguesa por defecto */
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  background-color: white;
  height: 3px;
  width: 25px;
  margin: 4px 0;
}

/* Estilo para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .nav-left {
    display: none; /* Oculta los enlaces en pantallas pequeñas */
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  .navbar.active .nav-left {
    display: flex; /* Muestra el menú cuando se activa */
  }

  .menu-toggle {
    display: flex; /* Muestra el menú hamburguesa */
  }

  .nav-right {
    display: none; /* Oculta los iconos sociales en pantallas pequeñas */
  }
}


.nav-right {
  display: flex;
  align-items: center; /* Centra verticalmente los iconos */
}

/* Iconos sociales */
.social-icon {
  display: inline-block;
  width: 24px; /* Tamaño del icono */
  height: 24px;
  margin-left: 15px; /* Espaciado entre iconos */
  background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.3s; /* Transición suave */
}

.social-icon-facebook {
  background-image: url('../images/facebook-icon.png'); /* Imagen predeterminada */
}

.social-icon-facebook:hover {
  background-image: url('../images/facebook-blue.png'); /* Imagen al pasar el ratón */
}

.social-icon-insta {
  background-image: url('../images/instagram-icon.png'); /* Imagen predeterminada */
}

.social-icon-insta:hover {
  background-image: url('../images/insta-pink.png'); /* Imagen al pasar el ratón */
}



/* Sección de héroe */
.hero {
height: 88vh; /* Ocupa toda la altura de la ventana */
width: 100%; /* Ocupa todo el ancho */
position: relative; /* Necesario para posicionar las imágenes */
background-color: white; /* Fondo blanco para el resto del espacio */
display: flex;
justify-content: center;
align-items: center;
text-align: center;
color: black; /* Cambiamos el color del texto para que contraste con el fondo blanco */
text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); /* Suavizamos la sombra del texto */
/* padding-top: 20px; */
}

.hero h1 {
font-size: 3rem;
}

/* Contenedor para las imágenes */
.image-fade-container {
position: absolute; /* Posiciona las imágenes una sobre otra */
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
}

/* Imágenes */
.image {
position: absolute;
width: 100%;
height: 100%;
background-size: cover; /* Ajusta la imagen al contenedor */
background-position: center; /* Centra la imagen */
background-repeat: no-repeat;
opacity: 0; /* Inicialmente no visible */
animation: fade 15s infinite; /* Ciclo de animación */
}

/* Primera imagen */
.image1 {
background-image: url('../images/logo-esgaes.jpg'); /* Ruta de la primera imagen */
background-size: 40%; /* Imagen al 40% de su tamaño original */
animation-delay: 0s; /* Empieza inmediatamente */
}



/* Segunda imagen */
.image2 {
background-image: url('../images/portada-2.jpg'); /* Ruta de la segunda imagen */
background-size: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
background-position: center; /* Centra la imagen */
background-repeat: no-repeat; /* Evita que la imagen se repita */
animation-delay: 5s; /* Comienza cuando la primera está en el centro del ciclo */
filter: grayscale(100%);

}

/* Segunda imagen */
.image3 {
  background-image: url('../images/portada-3.jpg'); /* Ruta de la segunda imagen */
  background-size: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  animation-delay: 10s; /* Comienza cuando la primera está en el centro del ciclo */
  filter: grayscale(100%);
  
  }


  @media screen and (max-width: 768px) {
/* Primera imagen */
.image1 {
  background-image: url('../images/logo-esgaes.jpg'); /* Ruta de la primera imagen */
  background-size: 70%; /* Imagen al 40% de su tamaño original */
  animation-delay: 0s; /* Empieza inmediatamente */
  }
  
  
  
  /* Segunda imagen */
  .image2 {
  background-image: url('../images/movil-2.jpg'); /* Ruta de la segunda imagen */
  background-size: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  animation-delay: 5s; /* Comienza cuando la primera está en el centro del ciclo */
  filter: grayscale(100%);
  
  }
  
  /* Segunda imagen */
  .image3 {
    background-image: url('../images/movil-3.jpg'); /* Ruta de la segunda imagen */
    background-size: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    animation-delay: 10s; /* Comienza cuando la primera está en el centro del ciclo */
    filter: grayscale(100%);
    
    }
  }
  
/* Animación de transición */
@keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}



.fondo-direccion {
  position: relative;
  width: 100%;
  height: 88vh;
  background-image: url('../images/fondo-maestro.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.fondo-espazos {
  position: relative;
  width: 100%;
  height: 88vh;
  background-image: url('../images/chaquetas.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.fondo-contacto {
  position: relative;
  width: 100%;
  height: 88vh;
  background-image: url('../images/fotofamilia.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

a {
  color: inherit; /* Hereda el color del texto circundante */
  text-decoration: none; /* Elimina el subrayado */
}

/* Contenido principal */
.contenido {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo del contenedor del perfil */
.perfil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
  margin-top: 20px;
}

/* Información del director */
.informacion {
  flex: 1; /* La lista ocupará el espacio necesario */
  min-width: 300px; /* Ancho mínimo para evitar que se haga muy pequeño */
}

.informacion-horarios {
  flex: 1; /* La lista ocupará el espacio necesario */
  min-width: 300px; /* Ancho mínimo para evitar que se haga muy pequeño */
}


/* Estilo de la imagen */
.foto {
  flex: 1; /* La imagen ocupará el espacio restante */
  display: flex;
  justify-content: center;
  align-items: center;
}

.foto img {
  max-width: 80%;
  height: auto;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra suave */
}

/* Lista de esgrima */
.lista-esgrima {
  list-style-type: none;
  padding-left: 0;
}

.lista-esgrima li {
  font-size: 1.2em;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.lista-horarios {
  list-style-type: none;
  padding-left: 0;
}

.lista-horarios li {
  font-size: 1.2em;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.icono {
  width: 20px;
  height: auto;
  margin-right: 10px;
}

.lista-esgrima .espacio-icono {
  width: 20px; /* Reserva el espacio del icono */
  height: 20px;
  margin-right: 10px; /* Asegura el mismo espaciado que el icono */
}

.lista-esgrima li:nth-child(2n) {
  margin-bottom: 25px; /* Espacio adicional después de cada 2 elementos */
}

.columnas {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start; /* Ensures alignment starts at the top */
}

.titulo-columna {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.subtitulo-columna {
  text-align: left;
  font-size: 1rem;
  margin-bottom: 20px;
}


footer {
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  padding: 10px 20px;
  font-size: 14px;
}

.footer-content {
  display: flex;
  justify-content: space-between; /* Se distribuyen los elementos de izquierda a derecha */
  align-items: center; /* Centra los elementos verticalmente */
  width: 100%; /* Asegura que ocupe todo el espacio disponible */
}

.footer-logo {
  width: 40px; /* Ajusta el tamaño de la imagen del logo */
}

footer p {
  position: absolute; /* Posiciona el texto independientemente de otros elementos */
  left: 50%; /* Mueve el texto horizontalmente al centro */
  transform: translateX(-50%); /* Centra el texto horizontalmente */
  margin: 0; /* Elimina márgenes del texto */
}

.footer-images {
  display: flex;
  justify-content: space-between;
}

.footer-img {
  color: white;
  height: 40px; /* Ajusta el tamaño de las imágenes */
  margin-left: 20px; /* Espacio entre las imágenes */
}
