{{ define "main" }}
<div class="fondo-direccion">
  <div class="contenido">
    <h1>Director técnico</h1>
    <h2><u>Antonio Carballo</u></h2>
    <div class="perfil">
      
      <div class="informacion">
        <ul class="lista-esgrima">
          <li><img src="{{ "images/logo-club.png" | relURL }}" alt="icono-esgrima" class="icono"> Entrenador Nacional de Esgrima</li>
          <li><span class="espacio-icono"></span><i>Federación Española de Esgrima</i></li>
          <li><img src="{{ "images/logo-club.png" | relURL }}" alt="icono-esgrima" class="icono"> Mestre de Educación Física</li>
          <li><span class="espacio-icono"></span><i>Universidade da Coruña</i></li>
          <li><img src="{{ "images/logo-club.png" | relURL }}" alt="icono-esgrima" class="icono"> Licenciado en Pedagoxía</li>
          <li><span class="espacio-icono"></span><i>Universidade de Santiago de Compostela</i></li>
        </ul>
      </div>
      
      <div class="foto">
        <img src="{{ "images/antonio.jpg" | relURL }}" alt="Antonio Carballo">
      </div>
    </div>
  </div>
</div>
{{ end }}
