{{ define "main" }}
<div class="fondo-espazos">
  <div class="contenido">
    <h1>Espazos e horarios</h1>
    <div class="columnas">
      
      <div class="informacion-horarios">
        <h2 class = "titulo-columna">Arteixo</h2>
        <h3 class = "subtitulo-columna"><i>CEIP Ponte dos Brozos</i></h3>
        <ul class="lista-horarios">
          <li><img src="{{ "images/logo-club.png" | relURL }}" alt="icono-esgrima" class="icono"> Luns 18:00-20:00</li>
          <li><img src="{{ "images/logo-club.png" | relURL }}" alt="icono-esgrima" class="icono"> Sábados 11:00-13:00</li>
        </ul>
      </div>
      
      <div class="informacion-horarios">
        <h2 class = "titulo-columna">A Coruña</h2>
        <h3 class = "subtitulo-columna"><i>Casa da Auga</i></h3>
        <ul class="lista-horarios">
          <li><img src="{{ "images/logo-club.png" | relURL }}" alt="icono-esgrima" class="icono"> Martes 18:30-21:30</li>
          <li><img src="{{ "images/logo-club.png" | relURL }}" alt="icono-esgrima" class="icono"> Mércores 20:00-22:00</li>
          <li><img src="{{ "images/logo-club.png" | relURL }}" alt="icono-esgrima" class="icono"> Xoves 18:30-20:30</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{{ end }}
